<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright © 2020 CreenSight. All rights reserved.
 * @author CreenSight Development Team <magento@creensight.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <store_view_flags>
            <general>
                <enabled>1</enabled>
                <hide_store_name>0</hide_store_name>
            </general>
            <flag>
                <width>24</width>
                <height>16</height>
            </flag>
        </store_view_flags>
    </default>
</config>
